
@font-face { font-family: Norwester; src: url('assets/norwester.otf');}
@font-face { font-family: Nasal; src: url('assets/Nasal.otf');}
@font-face { font-family: Zero; font-weight: bold; src: url('assets/Lambda-Regular.ttf');}
@font-face { font-family: Jenking; font-weight: bold; src: url('assets/Jenking.otf');}

#name{
    font-family: Nasal;
}

#title-name{
    font-family: Norwester;
}


body{
    background-color: #DDD0C8;
}

#instructors{
    background-color: #323232;
}

#navmenu{
    text-transform: uppercase;
    font-family: Zero;
    font-size: 20px;

}

#desc{
    font-family: Jenking;
}

