
@font-face { font-family: Norwester; src: url('assets/norwester.otf');}
@font-face { font-family: Nasal; src: url('assets/Nasal.otf');}

#name{
    font-family: Nasal;
}

#title-name{
    font-family: Norwester;
}


body{
    background-color: #F1F1F2;
}

#navmenu{
    text-transform: uppercase;
    font-family: Bahnschrift;
    font-weight: bold;
}
.card{
    background-color: #31473A;
    color: white;
}
